# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
.env.*
server/.env
server/.env.*

# IDE
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build
build/
dist/
coverage/
